body {
  margin: 0;
  padding: 0;
  min-width: 1200px;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}

/*
  Порядок свойств в css

  Позиционирование
  Блочная модель
  Типографика
  Оформление
  Анимация
  Разное
*/

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

.inner-container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

.main-header {
  display: flex;
  justify-content: space-between;

  background-color: #eeeeee;
}

.main-header-logo {
  padding-top: 50px;
}

.main-header-logo:hover img {
  opacity: 0.7;
}

.main-header-logo:active img {
  opacity: 0.4;
}

.main-nav {
  width: 800px;
  display: flex;
  justify-content: space-between;

}

.site-navigation {
  list-style: none;

  display: flex;
  justify-content: space-between;


  padding-left: 0px;
  margin: 0px;
  padding-bottom: 15px;
  padding-top: 82px;
  width: 440px;
}

.site-navigation a {
  color: #000000;
}

.site-navigation:hover a {
  color: red;
}

.site-navigation:active a {
  opacity: 0.4;
}

.user-navigation {
  list-style: none;

  padding-left: 0px;
  margin: 0;
  padding-bottom: 15px;
  padding-top: 82px;
}

.user-navigation a {
  color: #000000;
}

.user-navigation:hover a {
  color: red;
}

.user-navigation:active a {
  opacity: 0.4;
}

.slider {
  position: relative;

  background-color: #eeeeee;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-item {
  display: none;
}

.slider-item:nth-child(1) {
  display: block;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

.button {
  display: block;
  width: 240px;
  padding: 13px 0;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}
