body {
  margin: 0;
  padding: 0;
  min-width: 1200px;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}

/*
  Порядок свойств в css

  Позиционирование
  Блочная модель
  Типографика
  Оформление
  Анимация
  Разное
*/

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.page-header {
  background-color: #eeeeee;
}

.header-inner-container {
  display: block;

  width: 100%;
  width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

.inner-container {
  display: block;

  width: 100%;
  width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

.page-header-top {
  display: flex;
  justify-content: space-between;
}

.main-header-logo {
  display: block;
  margin-top: 50px;
  box-sizing: border-box;
  width: 160px;
  height: 65px;
}

.main-header-logo:hover {
  opacity: 0.7;
}

.main-header-logo:active {
  opacity: 0.4;
}

.main-nav {
  display: flex;
  justify-content: space-between;

  width: 800px;
  margin-top: 70px;
}

.main-nav__list {
  list-style: none;

  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;
  padding-top: 7px;
  width: 440px;
}

.main-nav__link {
  display: block;
  float: left;
  width: 100%;

  margin: 0;

  font-size: 16px;
  color: #000000;
  text-transform: uppercase;
}

.main-nav__link:hover {
  color: #fb565a;
}

.main-nav__link:active {
  color: #a6a6a6;
}

.main-nav__item {
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: 700;
}

.user-navigation__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.user-navigation__item {
  text-transform: uppercase;
  font-weight: 700;
  padding-top: 7px;
}

.slider {
  position: relative;

  background-color: #eeeeee;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;

  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;

  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

  width: 18px;
  height: 18px;

  background: #ffffff;

  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-item {
  display: none;
  padding: 78px 0 80px 0;
}

.slider-item:nth-child(1) {
  background-image: url("img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  background-image: url("img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

.slide-text {
  font-size: 16px;
  line-height: 24px;
  color: #283136;
}

.button {
  display: block;
  width: 240px;
  padding: 16px 0;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.page-main-top {
  display: block;
  position: relative;

  width: 100%;
  width: 1160px;

  margin-top: 80px;
  padding-bottom: 50px;
}

.page-main-top::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;

  width: 1160px;
  height: 2px;

  background-color: #eeeeee;
}

.product-list {
  display: flex;
  flex-wrap: wrap;

  list-style: none;
  margin: 0;
  padding: 0;
}

.product-item {
  display: block;

  width: 300px;
  margin-right: 100px;
  font-size: 16px;
  line-height: 24px;
}

.heading-products {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 30px;
  margin: 17px 0;

}

.product-text {
  margin: 17px 0;
}

li.product-item:nth-child(3) {
  margin-right: 60px;
}

.button-product-1 {
  width: 160px;
  margin: 32px 0;
}

.button-product-2 {
  width: 160px;
  background-color: #00ca74;
  margin: 32px 0;
}

.button-product-2:hover,
.button-product-2:focus {
  background-color: #00bc6c;
}

.button-product-2:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #00ca74;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.button-product-3 {
  width: 160px;
  background-color: #efc84a;
  margin: 32px 0;
}

.button-product-3:hover,
.button-product-3:focus {
  background-color: #eab534;
}

.button-product-3:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #e5a722;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.products {
  position: relative;
}


.about-us-page {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}

.about-us-page-left {
  width: 660px;
}

.about-us-page-right {
  width: 360px;
}

.about-us-heading {
  font-size: 45px;
  line-height: 45px;
  margin: 0;
  padding: 0;
  margin-top: 33px;
  margin-bottom: 33px;
  font-weight: 500;
}

.about-us-information {
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  margin-bottom: 40px;
}

.about-us-item-information {
  display: block;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 23px;
}

.about-us-item {
  margin: 0;
  padding: 0;
  padding-left: 37px;
  margin: 0 0 24px;
  position: relative;
}

.about-us-item::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}
